@font-face {
  font-family: headerbutton;
  src: url(Barlow_Condensed/BarlowCondensed-Light.ttf);
  font-family: containerheadtxt;
  src: url(Crimson_Text/CrimsonText-Bold.ttf);
}

body {
  background-image: url(Image_Assets/Home/Header_Image.jpg);
  background-size: cover;
}

header {
  width: 100%;
  height: 100PX;
  background: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
}

header .header__logo {
  padding-left: 100px;
  padding-top: 10px;
  padding-right: 250px;
}

header .header__button {
  font-family: headerbutton;
  display: inline-block;
  padding: 65px 20px 50px 40px;
  font-size: 19px;
  color: white;
}

.card {
  margin: auto;
  width: 60%;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */